/* Header Style */

header {
  position: fixed;
  width: var(--ls-full);
  height: auto;
  padding: 1.75rem 0;
  z-index: 9999;
}

header.active {
  border-bottom: 1px solid var(--color-gray-d);
  background: #fff;
}

header .container {
  /* 항목을 가로로 배치 */
  display: flex;
  /* 간격을 양 옆으로 사이 간격 일정 */
  justify-content: space-between;
  /* 위아래 중앙 정렬 */
  align-items: center;
  /* 자식인 logo를 화면 중앙에 위치하기위해 absolute 옵션을 주려면 position이 static 이면 안된다. */
  position: relative;
}

header .container > * {
  display: flex;
}

header .nav-lists {
  display: flex;
  gap: 2rem;
}

header .nav-lists a {
  font-size: var(--fs-14);
}

header .nav-lists a:hover {
  text-decoration: underline;
}

header .sns ul {
  display: flex;
  gap: 1rem;
}

header .sns ul a {
  display: block;
  width: 20px;
}

header .sns ul a img {
  width: var(--ls-full);
}

header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .logo a {
  width: 100px;
}

header .logo a img {
  width: var(--ls-full);
}

header .info {
  align-items: center;
}

header .cart {
  /* 위에서부터 시계방향 */
  margin: 0 0.25rem 0 1rem;
}

header .cart a {
  display: flex;
  align-items: center;
  background: var(--color-black);
  color: #fff;
  height: 1.8rem;
  padding: 0 0.5rem;
  font-size: var(--fs-14);
  border-radius: 0.25rem;
}

header .cart a em {
  font-style: normal;
}

header .user {
  border: 1px solid var(--color-black);
  padding: 0 0.45rem;
  height: 1.8rem;
  font-size: var(--fs-18);
  border-radius: 0.25rem;
}

header .user a {
  display: flex;
  align-items: center;
  height: 100%;
}

body {
  height: 3000px;
}

/* Main Landing Section style */

#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#main-section img {
  width: var(--ls-full);
  height: 100vh;
  object-fit: cover;
}

#main-section .landing-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  animation: fade-left 1s 1 forwards;
  opacity: 0;
}

@keyframes fade-left {
  from {
    transform: translate(-45%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#main-section .landing-text-box h2 {
  font-size: var(--fs-title);
  font-weight: var(--fw-400);
  line-height: 1.4; /* em 단위가 디폴트 */
}

#main-section .landing-text-box p {
  padding: var(--el-medium) 0;
  width: var(--ls-1-3);
}

/* Slider Section style */
.slider-section .container {
  position: relative;
}
.slider-section .swiper-slide {
  display: flex;
  gap: var(--el-medium);
}

.slider-section .swiper-slide > div {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-section .swiper-slide > div.slider-image {
  height: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slider-section .swiper-slide > div.slider-image > img {
  width: var(--ls-full);
}

.slider-section .swiper-slide > div.slider-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--el-medium);
  transform: translateY(50px);
  opacity: 0;
}

.slider-section .swiper-slide > div.slider-text h4 {
  font-size: 1.8rem;
  font-weight: var(--fw-400);
}

.slider-section .swiper-slide > div.slider-text p {
  font-size: var(--fs-small-text);
  width: 90%;
}

.slider-section .slider-nav {
  background: #fff;
  color: var(--color-black);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 2px var(--color-gray-3);
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--color-black);
  width: 12px;
  height: 12px;
}

.slider-section .swiper-slide.swiper-slide-active div.slider-text {
  /* 애니메이션 이름, 지속시간, 지연시간, 반복횟수 */
  animation: show-up 0.5s 0.5s forwards;
  margin-left: 15px;
}

@keyframes show-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Insta Section Style */
.insta-section .insta-wrapper {
  display: flex;
}

.insta-section .insta-wrapper > div {
  width: var(--ls-1-3);
}

.insta-section .insta-wrapper > div img {
  width: var(--ls-full);
  object-fit: cover;
  border-radius: 0.25rem;
}

.insta-section .insta-wrapper .insta-image {
  display: flex;
  gap: 0.25rem;
}

.insta-section .insta-wrapper .insta-image > div {
  width: var(--ls-1-2);
}

.insta-section .insta-wrapper .insta-image .insta-grid-2 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.insta-section .insta-wrapper .insta-left .insta-grid-1 {
  display: flex;
  align-items: center;
}

.insta-section .insta-wrapper .insta-right .insta-grid-1 {
  display: flex;
  align-items: end;
}

.insta-section .insta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.insta-section .insta-info h4 {
  font-size: 3rem;
  font-weight: var(--fw-400);
  text-align: center;
}

.insta-section .insta-info .insta-id {
  font-size: var(--fs-samll-text);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.insta-section .insta-info .insta-id i {
  font-size: var(--fs-20);
}
